# Master configuration properties file for Dilettante builder. Most of the default builder configuration
# is implemented in this file. Generally anything that should have a standard invariant configuration or
# should be defined by default goes here. Installations can customize this for their own needs.
step.test=Test
step.wikitestreport=TWiki:testReport
step.wikibuildreport=TWiki
step.compile=Compile
step.dependency=Dependencies
step.jar=Jar
step.delay=Delay
step.sourceJar=Jar:sourceJar
step.sourceInstall=Install:sourceInstall
step.sourceDeploy=Install:sourceDeploy
step.resources=Filter
step.war=Jar:war
step.install=Install
step.deploy=Install:deploy
step.testcompile=Compile:testCompile
step.adddeps=Eclipse
step.getdeps=Eclipse:getDependencies
step.testreport=Test:report
step.maven=Maven
step.addmaven=Maven:add
step.testresources=Filter
step.clean=Clean
step.wstools=WSTools
step.javadoc=JavaDoc
step.jardoc=JavaDoc:jarDoc
step.docinstall=JavaDoc:jarInstall
step.docdeploy=JavaDoc:jarDeploy
step.archive=Archive
step.ear=Jar:ear
step.assembledeps=Assemble:copyDeps
step.testjar=Jar:testJar
step.startamq=ActiveMQ
step.stopamq=ActiveMQ:stop
step.deployamq=ActiveMQ:deploy
step.deployjboss=JBoss:deploy
step.undeployjboss=JBoss:undeploy
step.startjboss=JBoss
step.stopjboss=JBoss:stop
step.jbosswaitfordeploy=JBoss:waitfordeploy
step.tarball=Archive
step.instrument=Cobertura
step.cobreport=Cobertura:report
step.cobtest=Test:test
step.subbuild=SubBuild
step.forkbuild=SubBuild:fork
step.testinstall=Install:testInstall
step.testdeploy=Install:testDeploy
step.depreport=Dependencies:depReport
step.killchildren=Exec:killChildren
step.remove=Assemble:remove
step.wsconsume=WSConsume
step.junitee=Test:junitee
step.junitreport=Test:junitreport
test.junitee.stylesheet=${builder.lib}/juniteereport.xslt
test.junitee.outfile=${build.target.testreports}/unittestreport.txt
test.junitee.report=${build.target.testreports}/unittestreport.
wsconsume.wsconsume=/mnt/deltaopt/development/jbossws-2.0.2-tools/bin/wsconsume.sh
cobertura.coberturabin=/mnt/deltaopt/development/cobertura-1.8
test.instrument.sourceclasses=${build.target.classes}
test.instrument.classes=${build.target}/instrumented-classes
#test.instrument.cbdatafile=${build.target}/cobertura.ser
test.instrument.cbdatafile=cobertura.ser
test.cobreport.reports=${build.target}/cobertura-reports
test.cobreport.cbdatafile=${test.instrument.cbdatafile}
test.cobtest.classes=${test.instrument.classes}
test.cobtest.testclasses=${build.target.testclasses}
build.javahome=/mnt/deltaopt/development/jdk1.6.0_21
compile.compiler=${build.javahome}/bin/javac
build.java=${build.javahome}/bin/java
build.grouprepository=/mnt/deltaopt/development/brepository
build.localrepository=${builder.home}/builder/repository
test.report.stylesheet=${builder.lib}/testreports.xslt
test.report.outfile=${build.target.testreports}/testreport.txt
maven.pom=pom.xml
maven.xslt=${builder.lib}/pomdeps.xslt
filter.resources.target=${build.target.classes}
filter.testresources.target=${build.target.testclasses}
jar.jarprogram=${build.javahome}/bin/jar
javadoc.javadocprogram=${build.javahome}/bin/javadoc
build.target.javadoc=${build.target}/javadoc
javadoc.overview=overview.html